<div id="pathwayControl">

    <h1 id="controlCaption">Mein Patientenpfad</h1>

    <button mat-raised-button color="primary" *ngIf="speechRecognitionAvailable && !isListening" (click)="onActivateVoiceControl()">
        <fa-icon id="voiceControlIndicatorIcon" [icon]="voiceControlIcon"></fa-icon>
    </button>

    <button id="voiceControlRunningButton" mat-raised-button color="primary" *ngIf="speechRecognitionAvailable && isListening" (click)="onDeactivateVoiceControl()">
        <fa-icon id="voiceControlIndicatorIcon" [icon]="voiceControlIcon"></fa-icon>
    </button>

    <p *ngIf="isListening" id="controlDescription">Für eine Übersicht über die Sprachbefehle, sagen Sie "Hilfe".</p>

    <select (change)="onVoiceChanged($event)" name="voices" id="voice-select">

        <option *ngFor="let voice of availableVoices" [value]="voice.voiceURI">{{voice.name}}</option>

    </select>

</div>