<div>

    <mgl-timeline id="pathway" [alternate]="pathwayEntryAlternation" [side]="pathwaySide" [toggle]=true [focusOnOpen]=true>

        <!--we gonna construct a unique element if for every container so we can identify the container easily in our code-->
        <mgl-timeline-entry [attr.id]="event.header!.toLowerCase() + '_' + event.date!.toLocaleDateString('de-DE') + '_container'" *ngFor="let event of pathwayEvents, let i = index">

            <mgl-timeline-entry-header [attr.id]="event.header!.toLowerCase() + '_' + event.date!.toLocaleDateString('de-DE')" class="pathway-entry-header">
                <patient-pathway-header [eventType]="event.type" [eventHeader]="event.header"></patient-pathway-header>
            </mgl-timeline-entry-header>

            <mgl-timeline-entry-content>
                <patient-pathway-content [eventType]="event.type" [eventContent]="event.content"></patient-pathway-content>
            </mgl-timeline-entry-content>

            <mgl-timeline-entry-dot [size]="pathwayDotSize" class="pathway-entry-dot"></mgl-timeline-entry-dot>

            <mgl-timeline-entry-side class="pathway-entry-side">
                <b>
                    {{event.date | date : "dd.MMMM.yyyy" : '' : 'de-DE'}}
                </b>
            </mgl-timeline-entry-side>

        </mgl-timeline-entry>

    </mgl-timeline>


</div>