

.pathway-entry-header {

    color: black;

}

.pathway-entry-dot {

    background-color: lightcoral;
    cursor: pointer;

}

.pathway-entry-dot:hover {

    background-color: coral;

}

.pathway-entry-side {

    width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;

}