<div>

    <mgl-timeline id="pathway" [alternate]="pathwayEntryAlternation" [side]="pathwaySide" [toggle]=true [focusOnOpen]=true>

        <mgl-timeline-entry [attr.id]="event.header!.toLowerCase() + '_container'" *ngFor="let event of pathwayEvents, let i = index">

            <mgl-timeline-entry-header [attr.id]="event.header!.toLowerCase()" class="pathway-entry-header">
                <patient-pathway-header [eventType]="event.type" [eventHeader]="event.header"></patient-pathway-header>
            </mgl-timeline-entry-header>

            <mgl-timeline-entry-content>
                <patient-pathway-content [eventType]="event.type" [eventContent]="event.content"></patient-pathway-content>
            </mgl-timeline-entry-content>

            <mgl-timeline-entry-dot [size]="pathwayDotSize" class="pathway-entry-dot"></mgl-timeline-entry-dot>

            <mgl-timeline-entry-side>{{event.date | date : "dd.MMMM.yyyy" : '' : 'de-DE'}}</mgl-timeline-entry-side>

        </mgl-timeline-entry>

    </mgl-timeline>


</div>