<div id="pathwayControl">

    <h1>Mein Patientenpfad</h1>
    <!--this is the control panel for working with the patient pathway-->
    <button mat-raised-button color="primary">Neuer Termin</button>

    <button mat-raised-button color="primary" *ngIf="speechRecognitionAvailable && !pathIsListening" (click)="onActivateVoiceControl()">
        <fa-icon id="voiceControlIndicatorIcon" [icon]="voiceControlIcon"></fa-icon>
    </button>

    <button id="voiceControlRunningButton" mat-raised-button color="primary" *ngIf="speechRecognitionAvailable && pathIsListening" (click)="onDeactivateVoiceControl()">
        <fa-icon id="voiceControlIndicatorIcon" [icon]="voiceControlIcon"></fa-icon>
    </button>

    <button mat-raised-button color="accent" (click)="openVoiceCommandHelpDialog()">Sprachbefehle anzeigen</button>
 

</div>