#pathwayControl {

    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    flex-wrap: wrap;

    gap: 20px;

}

#voiceControlIndicatorIcon {

    color: black;

}

#voiceControlRunningButton {

    animation: recording 2s infinite;

}

@keyframes recording {

    from {background-color: red;}

    50% {background-color: white;}

    to {background-color: red;}

}


  