#pathwayControl {

    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    flex-wrap: wrap;

    gap: 20px;

}

#voiceControlIndicatorIcon {

    color: black;

}

#voiceControlRunningButton {

    animation: recording 2s infinite;

}

#controlDescription {

    text-align: center;
    padding: 10px;

}

#controlCaption {
    text-align: center;
}




  