#background {

    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    gap: 20px;

    justify-content: flex-start;

    align-items: center;

}

#pathway {

    width: 80%;
    height: 100%;

}