<div>
    <h3>Übersicht über die Sprachbefehle</h3>

    <table id="helpTable">
        <tr>
            <th>Sprachbefehl</th>
            <th>Beschreibung</th>
        </tr>
        <tr>
            <td>"Neuer Termin"</td>
            <td>Öffnet die sprachgeführte Eingabemaske zum Anlegen eines neuen Termins.</td>
        </tr>
        <tr>
            <td>"Neues Symptom [Symptom]"</td>
            <td>Fügt für den aktuellen Tag ein neues Symptom hinzu.</td>
        </tr>
        <tr>
            <td>"Zeige [Name des Events] am [Datum]"</td>
            <td>
                <p>Öffnet die Details des Events mit dem entsprechenden Namen am entsprechenden Datum.</p>
                <p class="warning-text">Bitte sprechen Sie äußerst deutlich und nicht zu schnell, aber auch nicht zu langsam.</p>
            </td>
        </tr>
        <tr>
            <td>"Lösche [Name des Events] am [Datum]"</td>
            <td>
                <p>Löscht das Event mit dem entsprechenden Namen am entsprechenden Datum.</p>
                <p class="warning-text">Bitte sprechen Sie äußerst deutlich und nicht zu schnell, aber auch nicht zu langsam.</p>
            </td>
        </tr>
        <tr>
            <td>"Hilfe"</td>
            <td>Öffnet eine Übersicht über die möglichen Sprachbefehle zur Steuerung des Patientenpfades</td>
        </tr>
        <tr>
            <td>"Auf ein Wiederhören"</td>
            <td>Schaltet die Spracherkennung aus</td>
        </tr>
        <tr>
            <td>"Dialog schließen"</td>
            <td>Schließt geöffnete Dialoge</td>
        </tr>
    </table>

</div>