<div id="appointmentCreator">

    <div id="voiceControlIndicatorArea">
        <fa-icon id="voiceControlIndicatorIcon" [className]="controlIndicatorIconClass" [icon]="voiceControlIcon"></fa-icon>

        <p id="waitingForCommandDescription" *ngIf="listeningForControlCommmand">Sagen Sie ein verfügbares Kommando oder klicken Sie auf die entsprechenden Buttons</p>

    </div>
    

    <div id="creatorContent" [className]="creatorContentClass">

        <div class="centered-creator-subdiv" *ngIf="currentStepInAppointmentCreation==0">

            <h3>{{welcomeUtterance}}</h3>

            <div *ngIf="!recordingFormInput && !speaking" class="creator-button-div">

                <button mat-raised-button (click)="closeDialogWithoutResult()" color="warn">Dialog schließen</button>

                <button *ngIf="userCanStartCreationProcess" mat-raised-button (click)="getDateInput()" color="primary">Start</button>

            </div>

        </div>

        <div class="centered-creator-subdiv" *ngIf="currentStepInAppointmentCreation==1">
    
            <p id="dateQuestion">{{dateQuestion}}</p>
    
            <p *ngIf="isLastVoiceInputValid">{{appointmentDate | date}}</p>
    
            <div *ngIf="!recordingFormInput && !speaking" class="creator-button-div">

                <button (click)="closeDialogWithoutResult()" mat-raised-button color="warn">Dialog schließen</button>

                <button (click)="getDateInput()" mat-raised-button color="accent">Zurück</button>

                <button (click)="getDateInput()" mat-raised-button color="accent">Neue Eingabe</button>
    
                <button *ngIf="isLastVoiceInputValid" (click)="getHeaderInput()" mat-raised-button color="primary">Weiter</button>

            </div>

    
        </div>
        
        <div class="centered-creator-subdiv" *ngIf="currentStepInAppointmentCreation==2">
    
            <p>{{captionQuestion}}</p>
    
            <p>{{appointmentCaption}}</p>

            <div class="creator-button-div">

                <button *ngIf="!recordingFormInput && !speaking" (click)="closeDialogWithoutResult()" mat-raised-button color="warn">Dialog schließen</button>

                <button *ngIf="!recordingFormInput && !speaking" (click)="getDateInput()" mat-raised-button color="accent">Zurück</button>

                <button *ngIf="!recordingFormInput && !speaking" (click)="getHeaderInput()" mat-raised-button color="accent">Neue Eingabe</button>
        
                <button *ngIf="isLastVoiceInputValid && !recordingFormInput" (click)="getContentInput()" mat-raised-button color="primary">Weiter</button>
                  
            </div>

        </div>
    
        <div class="centered-creator-subdiv" *ngIf="currentStepInAppointmentCreation==3">
    
            <p>{{contentQuestion}}</p>
    
            <p>{{appointmentContent}}</p>
        
            <div class="creator-button-div">

                <button *ngIf="!recordingFormInput && !speaking" (click)="closeDialogWithoutResult()" mat-raised-button color="warn">Dialog schließen</button>

                <button *ngIf="!recordingFormInput && !speaking" (click)="getHeaderInput()" mat-raised-button color="accent">Zurück</button>

                <button *ngIf="!recordingFormInput && !speaking" (click)="getContentInput()" mat-raised-button color="accent">Neue Eingabe</button>
        
                <button *ngIf="isLastVoiceInputValid && !recordingFormInput" (click)="closeDialogWithResult()" mat-raised-button color="primary">Fertig</button>
                  
            </div>
    
    
        </div>

    </div>

</div>