<div>
    <h3>Übersicht über die Sprachbefehle</h3>

    <table>
        <tr>
            <th>Sprachbefehl</th>
            <th>Beschreibung</th>
        </tr>
        <tr>
            <td>"Neuer Termin"</td>
            <td>Öffnet die Eingabemaske zum Anlegen eines neuen Termins</td>
        </tr>
        <!--
        <tr>
            <td>"Neuer Schub"</td>
            <td>Öffnet die Eingabemaske zum Anlegen eines neuen Schubes</td>
        </tr>
        -->
        <tr>
            <td>"Zeige [Name des Termins]"</td>
            <td>Öffnet die Details des Termins mit dem entsprechenden Namen</td>
        </tr>
        <tr>
            <td>"Hilfe"</td>
            <td>Öffnet eine Übersicht über die möglichen Sprachbefehle zur Steuerung des Patientenpfades</td>
        </tr>
        <tr>
            <td>Dialog schließen</td>
            <td>Schließt geöffnete Dialoge</td>
        </tr>
    </table>

</div>